@import "tailwindcss";

@theme {
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);

  --color-primary: hsl(263.4 70% 50.4%);
  --color-primary-foreground: hsl(210 40% 98%);

  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);

  --color-border: hsl(240 3.7% 15.9%);

  --radius-md: 0.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
